@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Pixelify+Sans:wght@400..700&display=swap');

.StyledText1 {
    -fx-font-family: 'Anton Sc';
    -fx-font-size: 40px;
    -fx-text-fill: white;
}

.StyledText2{
    -fx-font-family: 'Anton Sc';
    -fx-font-size: 24px;
}

.StyledText3{
    -fx-font-family: 'Anton Sc';
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.AnchorPaneBGI{
    -fx-background-image: url("BG.jpg");
    -fx-background-size: cover;
}